@model ModelEmpleados

@{
    List<string> oficios = ViewData["OFICIOS"] as List<string>;
}

<h1>Incremento Salarial Oficios</h1>

<form method="post" class="mt-3">
    <div class="row">
        <div class="col-6">
            <label class="form-label">Oficio</label>
            <select name="oficio" class="form-select">
                @foreach (string oficio in oficios)
                {
                    <option value="@oficio">@oficio</option>
                }
            </select>
        </div>
        <div class="col-6">
            <label class="form-label">Incremento</label>
            <input type="number" class="form-control" name="incremento" />
        </div>
    </div>
    <button class="btn btn-success w-100 mt-4">Incrementar salarios</button>
</form>

@if (Model is not null)
{
    <div class="row mt-4">
        <div class="col-6">
            <label class="form-label">Suma salarial</label>
            <input type="number" class="form-control" value="@Model.SumaSalarial" readonly />
        </div>
        <div class="col-6">
            <label class="form-label">Media salarial</label>
            <input type="number" class="form-control" value="@Model.MediaSalarial" readonly />
        </div>
    </div>
    <table class="table table-borderless mt-3">
        <thead>
            <tr>
                <th>Apellido</th>
                <th>Oficio</th>
                <th>Salario</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Empleado emp in Model.Empleados)
            {
                <tr>
                    <td>@emp.Apellido</td>
                    <td>@emp.Oficio</td>
                    <td>@emp.Salario</td>
                </tr>
            }
        </tbody>
    </table>
}
